@{
    ViewData["Title"] = "Home Page";
}

<h1>
    Welcome to the Coding Club!
</h1>

<h2>Who are you?</h2>
<button type="button" class="btn btn-primary" >Staff</button>
<a asp-controller="Member" asp-action="SignIn" >Sign In</a>
<button type="button" class="btn btn-secondary">Student</button>
<button type="button" class="btn btn-success">Just Visiting</button>